<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin panel</title>
  <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>

    <main>
        <div class="row">
          <% include partials/error %>
          <% if ( !valid ) { %>
            <div class="col-sm-12">
              <div class="alert alert-success" role="alert"><strong>Not signed ion!</strong> please sign in!</div>
            </div>
            <% include partials/login %>
          <% } else { %>
            <div class="col-sm-12">
          <% } %>
                <div class="jumbotron">
                    <h1>Admin Panel</h1>
                    <p>Welcome to the admin panel, <%= user.name %></p>
                </div>
              <% users.forEach ( function ( users, i ) {  %>
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title"><%= schools[i] %></h3>
                  </div>
                  <table class="table">
                    <tr>
                      <td>Name</td>
                      <td>Email</td>
                      <td>Password</td>
                      <td>Access Level</td>
                    </tr>
                    <% users.forEach ( function ( u ) { %>
                      <tr>
                        <td><%= u.name %></td>
                        <td><%= u.email %></td>
                        <td><%= u.password %></td>
                        <td><%= u.access %></td>
                      </tr>
                    <% }) %>
                  </table>
                </div>
              <% }) %>
            </div>
          </div>
        </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>
</html>
