<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body class="container">

    <header>
        <% include partials/header %>
    </header>
		<% function length (a){b=0;for(c in a){b++};return b;} %>
    <main>
        <div class="row">
          <% if ( user_id == undefined ) { %>
            <div class="col-md-8">
              <% include partials/error %>
              <div class="alert alert-info" role="alert"><strong>Logged out!</strong> please sign in!</div>
          <% } else { %>
						<% include partials/error %>
            <div class="col-md-12">
          <% } %>
                <div class="jumbotron">
                  <% if ( targetUser !== undefined ) { %>
                    <img class="pull-right img-circle" src="<%= targetUser.avatar %>" height="96" width="96"/>
                    <span class="h1"><%= targetUser.name %></span><% if( targetUser == targetUser) { %><a href="/user/<%= targetUser.username  %>/edit/"><span class="glyphicon glyphicon-pencil"></span></a><% } %>
                    <p>
                      <% if ( teacher.name !== targetUser.name ) { %><strong>Teacher:</strong> <em><a href="/user/<%= teacher.username %>"><%= teacher.name %></a> of</em><% } else { %> Teacher at <% } %> <em><%= school.name %><br></em>
                      <strong>Tasks Attempted:</strong> <%= length(targetUser.tasksDone) %><br>
                      <strong>Score:</strong> <%= targetUser.score %><br>
                      <strong>Grade:</strong> <%= targetUser.grade %>
                    </p>
				</div>
				<div class="files panel panel-default">
					<div class="panel-heading">
						<a><span class="pull-right glyphicon glyphicon-chevron-up" aria-hidden="true" id="toggle-files"></span></a>
						<h3 class="panel-title">File Manager</h3>
					</div>
					</thead>
					<div class="panel-body" style="padding:0px; max-height:290px; overflow: auto">
						<table class="table table-hover" style="margin:0;">
							<thead>
								<tr>
									<th>Filename</th>
									<th>Description</th>
									<th></th>
								</tr>
							</thead>
							<% for ( key in targetUser.files ) {%><tr>
									<td><% if ( targetUser.files[key].project.user_id !== targetUser.username ) { %><span class="badge"><%= targetUser.files[key].project.author %></span> <% } %><%= targetUser.files[key].project.name %></td>
								<td><%= targetUser.files[key].project.desc %></td>
								<td><button type="button" class="btn btn-danger deleteButton"  mork-data="<%= key %>">Delete</button><button type="button" class="btn btn-danger loadButton" mork-data="<%= key %>">Load</button></td>
							</tr><% } %>
						</table>
					</div>
				</div>
                  <% } else { %>
                    <span class="h1">User not found.</span>
					</div>
                  <% } %>
            </div>
              <% if ( user_id == undefined ) { %>
                <% include partials/login %>
              <% } %>
          </div>
    </main>

    <footer>
        <% include partials/footer %>
    </footer>

</body>
</html>
